.container{
    max-width: 1300px ;
    margin: 0 auto;
    position: relative;
    border: 1.5px solid #6751b9;
    margin-right: -40px;
}

@media (max-width: 1300px){
    .container {
        padding: 0 1.5rem;
    }
}